body {
    margin: 0;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

.container {
    width: 60vw;
    margin: 50px auto;
    padding: 20px 30px;
    background-color: rgb(177, 201, 226);
    box-shadow: 1px 1px 3px 1px green;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin: 30px;
}

.form p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.container h1 {
    text-align: center;
}

.btn {
    margin: 30px auto;
    width: 120px;
    height: 40px;
    background-color: aliceblue;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(161, 215, 161);
    transition: all 0.3s ease-in;
}

label {
    text-align: center;
    padding: 20px;
}

#birthday {
    width: 215px;
    height: 30px;
    margin: auto;
}
