@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Open+Sans&family=Roboto:wght@300&family=Source+Code+Pro&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	font-family: 'Montserrat', sans-serif;
}

section {
	display: flex;
	justify-content: center;
	height: 100vh;
	align-items: center;
}

.card {
	width: auto;
	height: fit-content;
	border-radius: 1rem;
	background-color: #012a4a;
	padding: 1rem;
}

.infos {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	gap: 1rem;
}

.image {
	height: 18rem;
	width: 18rem;
	border-radius: 0.5rem;
	background-color: rgb(118, 36, 194);
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.name {
	font-size: 3rem;
	font-weight: 500;
	color: #ffffff;
	font-family: 'Source Code Pro', monospace;
}

.age-gender {
	border-radius: 0.5rem;
	background-color: #ffffff;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 1rem;
	color: #000000;
	width: 50%;
	margin: 1rem auto;
}

.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 4px;
	font-family: 'Montserrat', sans-serif;
}

.age-value,
.gender-value {
	font-weight: 700;
	color: #7624c2;
}

.email {
	color: #00a8e8;
	text-align: center;
}

.contact {
	color: whitesmoke;
	margin-top: 1rem;
	padding: 0 0.8rem;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	font-size: 1.4rem;
}

.contact span {
	color: #00a8e8;
}

#request {
	width: auto;
	border: 1px solid transparent;
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: 1.5rem;
	transition: all 0.3s ease;
	cursor: pointer;
	display: flex;
	margin: 1rem auto;
}

#request:hover {
	background-color: rgb(118, 36, 194);
	color: #fff;
}

.loading {
	--speed-of-animation: 0.9s;
	--gap: 6px;
	--first-color: #4c86f9;
	--second-color: #49a84c;
	--third-color: #f6bb02;
	--fourth-color: #f6bb02;
	--fifth-color: #2196f3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	gap: 6px;
	height: 100px;
}

.loading span {
	width: 4px;
	height: 50px;
	background: var(--first-color);
	animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
	background: var(--second-color);
	animation-delay: -0.8s;
}

.loading span:nth-child(3) {
	background: var(--third-color);
	animation-delay: -0.7s;
}

.loading span:nth-child(4) {
	background: var(--fourth-color);
	animation-delay: -0.6s;
}

.loading span:nth-child(5) {
	background: var(--fifth-color);
	animation-delay: -0.5s;
}

@keyframes scale {
	0%,
	40%,
	100% {
		transform: scaleY(0.05);
	}

	20% {
		transform: scaleY(1);
	}
}

@media screen and (max-width: 768px) {
	.card {
		display: flex;
		flex-direction: column;
		overflow: auto;
	}

	.image {
		display: flex;
		height: 60%;
		width: 60%;
		margin: auto;
	}

	.infos {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 80vw;
	}

	.info {
		width: 90%;
		margin: 10px auto;
	}

	#request {
		margin: 10px auto;
	}

	.name {
		font-size: 1.5rem;
		display: flex;
		justify-content: center;
	}

	.email,
	.phone {
		font-size: 1rem;
	}
}
