*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    height: 100vh;
    background-color: aqua;
}

form{
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid black;
    width: 30vw;
    height: 60vh;
    margin: auto;
}

form div {
    padding: 40px;
}

form input {
    padding: 15px;
    float: right;
}